body {
    margin-bottom: 4%;
    font-family: "Lato", sans-serif;
    background-color: #fcfcfc;
}

/* Homepage */
.container {
    margin: auto;
    width: 70em;
}

/* Header */
header {
    margin-bottom: 0;
}
header, .logo > a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.logo, .logo > a > h3 {
    padding: 0 10px;
    color: #000;
}
.logo > a > img {
    height: 30px;
    width: 30px;
    margin: auto;
}

/* Banner */
.banner {
    display: flex;
    background-color: #ff524c;
    padding: 1%;
    margin: 0 0 2% 0;
}

.banner > .banner_information {
    width: 33%;
    padding: 3%;
    color: #eee;
    margin: auto;
    text-align: center;
}

.banner > .banner_information > h3 {
    margin-bottom: -10%;
    font-size: 35px;
}
.banner > .banner_information > #countdown_timer {
    margin-bottom: -5%;
    font-size: 50px;
    font-weight: bold;
}

.banner > .banner_information > #buy_now_txt {
    font-size: 25px;
}

/* Products */
#data_container, #data_sale_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#data_container {
    justify-content: space-between;
}

/* Home page: Products */
.product {
    padding: 1em;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
}

.product > a > .product_image {
    width: 100%;
    height: auto;
    max-width: 8em;
    border-radius: 2px;
}

.product_info > a {
    text-decoration: none;
}

.product_info > a > p, 
.product_info > p {
    margin: 1.5px;
    text-align: left;
    color: #000;
}

.product_info > a > .product_title:hover {
    color: #8db7f1;
    transition: 0.3s;
}

.product_info > .discounted_price {
    font-weight: bold;
    color: #ff0000;
}

.product_info > .original_price {
    font-size: 12px;
}

.product_on_sale {
    margin: 0.7em;
}

.product_not_on_sale {
    margin-bottom: -1em;
    margin-top: 0.7em;
}

/* Product page */
.go_back_to_homepage {
    display: flex;
    margin: 2% 0 1% 0;
    text-decoration: none;
    color: #888;
}

.go_back_to_homepage > a {
    color: #888;
}

.go_back_to_homepage > a:hover {
    color: #666;
    transition: 0.3s;
}

.go_back_to_homepage > p {
    margin-left: 1%;
    font-style: italic;
    font-size: 14px;
}

.book_content {
    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
}
.book_image_content {
    width: 30%;
}
.book_image_content > #book_img {
    width: 100%;
    height: auto;
}

.book_information {
    width: 60%;
    margin-left: 5%;
    text-align: justify;
    overflow: auto;
}

#book_description {
    font-size: 18px;
}

.book_price {
    display: flex;
}

/* Style for the original price when the book is not on sale */
#book_original_price,
#book_discounted_price {
    margin-top: -10px;
    font-size: 30px;
    font-weight: bold;
}

/* Style for the prices when the book is on sale */
.original-price-sale {
    margin-top: -1px !important;
    margin-left: 3%;
    text-decoration: line-through;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #999;
}

.discounted-price, #message {
    color: #ff0000;
}

#message {
    position: absolute;
    bottom: 80px;
    right: 45px;
    text-transform: uppercase;
}

.add_to_cart_btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.add_to_cart_btn > button {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #6eaaff;
    color: #fdfdfd;
    border: none;
    cursor: pointer;
}

.add_to_cart_btn > button:hover {
    background-color: #8db7f1;
    transition: 0.3s;
}

/* cart button */
.cart-button-container {
    text-align: right;
    padding: 10px 20px;
    margin-top: 10px;
}

.cart-button {
    padding: 10px 20px;
    border-radius: 5px;
}

.cart-button:hover {
    background-color: rgb(141, 183, 241);
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.cart-items {
    flex: 2;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    padding: 1em;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 1em;
}

.cart-summary {
    flex: 1;
    border: 1px solid #ccc;
    padding: 1.5em;
    background-color: #fafafa;
    text-align: center;
}
.hidden {
    display: none;
}